*{
    background-color: black;
}
.graph-card {
    height: 380px;
    width: 100%;
    border-style: solid;
    border-width: 4px 4px 4px 4px;
    border-color: white;
    border-radius: 0.3rem;
    /* box-shadow: 0 4px 8px 0 rgba(211, 209, 209, 0.2); */
    background-color: black;
    /* margin: 20px; */

}